build/**
out/**
tmp/**
build_nosan/**
build_msan/**
build_tsan/**
build_cfisan/**
build_sand_nosan/**
build_sand_msan/**
build_sand_tsan/**
build_sand_cfisan/**
build_redqueen/**
build_laf/**

*.gguf
